{% extends "base.html" %}

{% block body %}

{% include "components/header.html" %}

<section class="py-5 container"> <!-- appointment -->
    <div class="py-5 container">
        <h3 class="py-5">
            Turnera | 
            <small class="text-muted">Turnos presenciales y virtuales</small>
        </h3>
        <div class="container text-center">
            <div class="row">
                <form method="POST" action="/post_appointment" class="row">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"></input>
                <div class="col-sm-4 col-xs-12">
                    <div id="pickadate"></div>
                </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" for="appointmentDate">Día del turno</span>
                            <input type="text" id="appointmentDate" name="appointmentDate" class="form-control" placeholder="Fecha del turno" aria-label="appointment"
                            aria-describedby="basic-appointment">
                        </div>
                        <div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" for="observations">Observaciones</span>
                                <textarea class="form-control" name="observations" id="observations" aria-label="observaciones"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" for="speciality">Especialidad</span>
                                <input type="text" id="speciality" name="speciality" class="form-control" placeholder="Especialidad"
                                    aria-label="Especialidad">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" for="modality">Modalidad</span>
                                <input type="text" id="modality" name="modality" class="form-control" placeholder="Modalidad"
                                    aria-label="appointment" aria-describedby="basic-appointment">
                            </div>
                            <button type="submit" class="btn btn-primary rounded-0" id="add_appointmentForm">RESERVAR TURNO</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section><!-- close appointment-->

    
    <!-- Load calendar -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        $(document).ready(function () {
            let date;
            let value = new Date();

            const initialState = {
                selected: new Date(),
            }
            const picker = window.pickadate.create(initialState);
            pickadate.render(document.getElementById('pickadate'), picker);
            const onChange = formattedValue => {
                value = picker.getValue('YYYY-MM-DD')
                $('#appointment').val(value);
            }
            document.getElementById('pickadate').addEventListener('pickadate:change', onChange);

            let add_appointment = document.getElementById("add_appointmentForm");

            // Formulario de turnos
            add_appointment?.addEventListener("click", function () {
                // Validación sencilla
                let day = document.getElementById("appointmentDate").value;
                let speciality = document.getElementById("speciality").value;
                let mode = document.getElementById("modality").value;
                let obs = document.getElementById("observations").value;

                // Por ahora solo con uno de todos para futuros tests.
                // if(day && speciality...){
                if (day) {
                    swal({
                        title: "Turno confirmado",
                        text: "No olvide tener a mano su documento de identidad, la credencial de su obra social y cargar sus estudios en el portal de salud",
                        icon: "success",
                        button: "Confirmar",
                    }).then((result) => {
                        if (result) {
                            window.location = "portal"
                        }
                    });
                } else {
                    swal({
                        title: "Error",
                        text: "Completa los campos requeridos",
                        icon: "error",
                        button: "Confirmar",
                    });
                }
            });
        });
    </script>

{% include "components/footer.html" %}
{% endblock %}