{% extends "base.html" %}

{% block body %}

{% include "components/header.html" %}

<section class="py-5 container"> <!-- appointment -->
    <div class="py-5 container">
        <h3 class="py-5">
            Turnera | 
            <small class="text-muted">Turnos presenciales y virtuales</small>
        </h3>
        <h4>¡Buen Día {% for key in user_login %} {{ key["name"] }} {% endfor %}!</h4>
        {% for key in user_login %} 
        <div class="container text-center">
            <div class="flex-sm-column flex-md-row d-lg-flex d-xl-flex col-sm-12 col-xs-12"> 
                    <div class="col-sm-6 col-xs-6 col-lg-5">
                        <div id="pickadate"></div>
                    </div>
                    <div class="col-sm-6 col-xs-6 col-lg-7 pt-3">
                        <form method="POST" action="/post_appointment" class="row">
                            <input type="hidden" name="user_id" value="{{ key['_id'] }}"></input>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"></input>
                            <div class="input-group mb-3">
                                <span class="input-group-text" for="appointmentDate">Día del turno</span>
                                <input type="text" id="appointmentDate" name="appointmentDate" class="form-control" placeholder="Fecha del turno" aria-label="appointment"
                                aria-describedby="basic-appointment">
                            </div>
                            <div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" for="observations">Observaciones</span>
                                    <textarea class="form-control" name="observations" id="observations" aria-label="observaciones"></textarea>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" for="speciality">Especialidad</span>
                                    <select id="speciality" class="form-select form-select-sm" aria-describedby="basic-appointment" aria-label="Especialidad" name="speciality">
                                        <option selected>Seleccione una opción</option>
                                        <option value="Obstetricia" >Obstetricia</option>
                                        <option value="Ginecología" >Ginecología</option>
                                        <option value="Odontología" >Odontología</option>
                                        <option value="Oftalmología" >Oftalmología</option>
                                        <option value="Rayos" >Rayos</option>
                                        <option value="Neurología" >Neurología</option>
                                        <option value="Pediatría" >Pediatría</option>
                                        <option value="Traumatología" >Traumatología</option>
                                        <option value="Medicina general" >Medicina general</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" for="modality">Modalidad</span>

                                    <select id="editSocialWork-doctor" id="modality" class="form-select form-select-sm" aria-describedby="basic-appointment" aria-label="appointment" name="modality">
                                        <option selected>Seleccione una opción</option>
                                        <option value="Virtual" >Virtual</option>
                                        <option value="Presencial" >Presencial</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary rounded-0" id="add_appointmentForm">RESERVAR TURNO</button>
                            </div>
                        </form>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section><!-- close appointment-->

    
    <!-- Load calendar -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        $(document).ready(function () {

            let date;
            let value = new Date();

            const initialState = {
                selected: new Date(),
            }
            const picker = window.pickadate.create(initialState);
            pickadate.render(document.getElementById('pickadate'), picker);
            const onChange = event => {
                event.stopPropagation();
                event.preventDefault();
                console.log('ADEN>>>>>>>', event);
                value = picker.getValue('YYYY-MM-DD');
                $('#appointmentDate').val(value);
            };
            document.getElementById('pickadate').focus(function (event) {
                event.preventDefault();
                event.stopPropagation();
                console.log('ADEN>>>>>>>', event);
            });
            document.getElementById('pickadate').addEventListener('pickadate:change', onChange);

            let add_appointment = document.getElementById("add_appointmentForm");

            // Formulario de turnos
            add_appointment?.addEventListener("onSubmit", function (event) {
                event.preventDefault();
                // Validación sencilla
                let day = document.getElementById("appointmentDate").value;
                let speciality = document.getElementById("speciality").value;
                let mode = document.getElementById("modality").value;
                let obs = document.getElementById("observations").value;

                // Por ahora solo con uno de todos para futuros tests.
                // if(day && speciality...){
                if (day) {
                    swal({
                        title: "Turno confirmado",
                        text: "No olvide tener a mano su documento de identidad, la credencial de su obra social y cargar sus estudios en el portal de salud",
                        icon: "success",
                        button: "Confirmar",
                    });
                } else {
                    swal({
                        title: "Error",
                        text: "Completa los campos requeridos",
                        icon: "error",
                        button: "Confirmar",
                    });
                }
            });
        });
    </script>

{% include "components/footer.html" %}
{% endblock %}