{% extends "base.html" %}

{% block body %}

{% include "components/header.html" %}

{% include "components/user-modal.html" %}

{% include "components/carrousel.html" %}

{% include "components/presentation.html" %}

{% include "components/map.html" %}

{% include "components/contact-form.html" %}

    <section class="py-3 m-auto container"> <!-- open section -->
        <div class="row mb-3 text-center">
            <div class="col-6 themed-grid-col">
                <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col" class="border-bottom border-primary">ESPECIALISTAS</th>
                      </tr>
                    </thead>
                    <tbody id="table_staff">

                        <tr> 
                            <td>             
                                <!-- Armar un ciclo for con jinja y recorrer la lista que provee la base de datos -->         
                                {% for doctor in list_doctors %}
                                    <p>{{ doctor["name"] }}</p>
                                {% endfor %}
                            </td> 
                        </tr>

                    </tbody>
                </table>
            </div> 
            <div class="col-6 themed-grid-col">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col" class="border-bottom border-primary">SEDES</th>
                    </tr>
                    </thead>
                    <tbody id="table_clinic">

                        <tr> 
                            <td>             
                                <!-- Armar un ciclo for con jinja y recorrer la lista que provee la base de datos -->         
                                {% for clinic in list_clinics %}
                                    <p>{{ clinic["name"] }}</p>
                                {% endfor %}
                            </td> 
                        </tr>

                    </tbody>
                </table>
            </div>
          </div>
    </section> <!-- close section -->

    <!-- Load data -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        let login = document.getElementById("loginForm");

        // Formulario login
        login?.addEventListener("click", function () {
            // Validación sencilla
            let username = document.getElementById("username-form").value;
            let password = document.getElementById("password-form").value;

            // Por ahora solo con uno de todos para futuros tests.
            // if(username && password){
            if (username) {
                swal({
                    title: "Bienvenido",
                    icon: 'success',
                    button: 'Confirmar'
                }).then((result) => {
                    if (result) {
                        window.location = "portal"
                    }
                    });
                } else {
                    swal({
                        title: "Error",
                        text: "Completa los campos requeridos",
                        icon: "error",
                        button: "Reintentar",
                    });
                }
            });
    </script>
    {% include "components/footer.html" %}
{% endblock %}