<!-- Open Modal -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog rounded-3 border border-primary">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginLabel">Ingreso al Portal Personal de Salud</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="username-form" class="col-form-label">Usuario:</label>
                        <input class="form-control" id="username-form"></input>
                    </div>
                    <div class="mb-3">
                        <label for="password-form" class="col-form-label">Contraseña:</label>
                        <input class="form-control" id="password-form"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary rounded-0" id="loginForm">Ingresar</button>
            </div>
        </div>
    </div>
</div>
<!-- Close Modal-->